<a href="https://colab.research.google.com/github/wonhojun/colab/blob/main/Untitled33.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
a=[-1,2,3]
s=pd.Series(a)
s

0   -1
1    2
2    3
dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import numpy as np
a=[ [1,2,3],
    [4,5,6] ]
npa=np.array(a)
npa
npa[0]

array([1, 2, 3])

In [ ]:
import pandas as pd
a=[ [1,2,3],
    [4,5,6] ]
df=pd.DataFrame(a)
df
df[0]

0    1
1    4
Name: 0, dtype: int64

In [ ]:
import numpy as np
a=[ [1,2,3],
    [4,5,6],
    [7,8,9] ]
npa=np.array(a)
npa
npa[0][2]

3

In [ ]:
import pandas as pd
a=[ [1,2,3],
    [4,5,6],
    [7,8,9] ]
df=pd.DataFrame(a)
df
df[0][2]

7

In [ ]:
import pandas as pd
a=[ [1,2,3],
    [4,5,6] ]
df=pd.DataFrame(a, index=['김','이'], columns=['국','영','수'])

# df=df[['국','수']]
# df.loc['김']
df.iloc[1]

국    4
영    5
수    6
Name: 이, dtype: int64

In [ ]:
import pandas as pd
a={'kor': [1,2,3],
   'mat': [4,5,6]}
df=pd.DataFrame(a)
df['kor']

0    1
1    2
2    3
Name: kor, dtype: int64

In [ ]:
import pandas as pd
a=[ [1,2,3],
    [4,5,6] ]
df=pd.DataFrame(a, index=['김','이'], columns=['국','영','수'])
df['과']=[7,8]
df

   국  영  수  과
김  1  2  3  7
이  4  5  6  8

In [ ]:
import pandas as pd
a=[ [1,2,3],
    [4,5,6] ]
df=pd.DataFrame(a, index=['김','이'], columns=['국','영','수'])
df.loc['박']=[7,8,9]
df.iloc[2]=[10,11,12]
df['과']=[7,8,9]
df

    국   영   수  과
김   1   2   3  7
이   4   5   6  8
박  10  11  12  9

In [ ]:
import pandas as pd
a=[ [1,2,3],
    [4,5,6],
    [7,8,9] ]
df=pd.DataFrame(a, index=['김','이','최'], columns=['국','영','수'])
r=df.loc[ :'최','영':]
r

   영  수
김  2  3
이  5  6
최  8  9

In [ ]:
import pandas as pd
a=[ [1,2,3],
    [4,5,6],
    [7,8,9] ]
df=pd.DataFrame(a, index=['김','이','최'], columns=['국','영','수'])
df['총점']=df.sum(axis=1)
df['평균']=df['총점']/3
df['석차']=df['평균'].rank(ascending=False, method='min')
df.loc['과목별 평균']=df.sum(axis=0)/3
r=df.loc[:'최','영':'수']
r.loc['총점']=r.sum(axis=0)
r.loc['평균']=r.loc['총점']/3
r

       영     수
김    2.0   3.0
이    5.0   6.0
최    8.0   9.0
총점  15.0  18.0
평균   5.0   6.0

In [ ]:
import pandas as pd
a=pd.read_csv('/content/창공.csv')

r=a.iloc[:2,:];   print(r,'\n')
r=a.iloc[:1,:];   print(r,'\n')
r=a.loc[ : ,'final']; print(r,'\n')
r=a.loc[:,'mid':'final']; print(r,'\n')
r['Tot']=r.sum(axis=1)
r['Avg']=r['Tot']/2
r.loc['과목별평균']=r.sum(axis=0)/3
r

r.to_csv('/content/창공설.csv')

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1 name  mid  \
0           0             0               0                 0  kim   90
1           1             1               1                 1  lee   88

   final  Tot  Avg
0     80  NaN  NaN
1     54  NaN  NaN

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1 name  mid  \
0           0             0               0                 0  kim   90

   final  Tot  Avg
0     80  NaN  NaN

0    80
1    54
2    55
Name: final, dtype: int64

   mid  final
0   90     80
1   88     54
2   87     55